<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yueyang.afinal">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Page1"
            android:label="@string/title_activity_page1" />
        <activity android:name=".iamsick" />
        <activity android:name=".excercise" />
        <activity android:name=".impostor" />
        <activity android:name=".job" />
        <activity android:name=".localmotion" />
        <activity android:name=".school" />
        <activity android:name=".skin" />
        <activity android:name=".ratingstar" />
        <activity android:name=".bad" />
        <activity android:name=".middle" />
        <activity android:name=".good"></activity>
    </application>

</manifest>